#PTemp {
  color: black;
  font-family: Andika;
}
.headss01 {
  width: fit-content;
  background-color: #78d0ec;
  height: 50px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}
