.footer {
  display: flex;
  height: 133px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #78d0ec;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.tex1,
.tex2 {
  margin: 30px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.tex2 {
  text-decoration-line: underline;
}
